/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
1 - Grid
2 - Base Styles
3 - Typography
4 - Links
5 - Buttons
6 - Forms
7 - Lists
8 - Code
9 - Tables
10 - Spacing
11 - Utilities
12 - Clearing
13 - Media Queries
14 - Divs
––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* 1 Grid ––––––––––––––––––––––––––––––––––––––– */
.one.column
	{
	position:relative;
	}
/* 1 END Grid ––––––––––––––––––––––––––––––––––– */

/* 5 Buttons –––––––––––––––––––––––––––––––––––– */
button
	{ margin:5px; }

.button-primary
	{
	width:30%;
	height:50px;
	}

.ByTopics button
	{ flex:1; }

#backLink .button-primary
	{
	display:flex;
	align-items:center;
	justify-content:center;
	text-wrap:wrap;
	width:100%;
	}

/* 5 END Buttons –––––––––––––––––––––––––––––––– */
/* 7 Lists –––––––––––––––––––––––––––––––––––––– */
ol ul, ol ul ul, li ul
	{ margin-top: 0.5rem; }

/* 7 END Lists –––––––––––––––––––––––––––––––––– */
/* 13 Media Queries -–––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 320px) 
{
.row
	{
	display:flex;
	flex-wrap:nowrap;
	}
.one.column
	{
	width:60px;
	margin-left:10px;
	}
#backLink .button-primary
	{
	font-size:0.8rem;
	line-height:1.5;
	}
}

/* 13 END Media Queries -–––––––––––––––––––––––– */


/* 14 Divs ––––––––––––––––––––––––––––––––––––––– */
#backLink
	{
	display:flex;
	align-items:flex-end;
	flex-direction:column;

	top:0;
	position:sticky;
	}

.ByTopics
	{
	display:flex;
	flex-wrap:wrap;
	}

/* 14 END Divs ––––––––––––––––––––––––––––––––––– */







